@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 229, 229, 229;
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 5, 5, 5;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-feature-settings: "rlig" 1, "calt" 1;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}